In [1]:
a = [1,2,3]

In [2]:
b=a*2
print(b)

[1, 2, 3, 1, 2, 3]

In [3]:
b.pop()

3

In [4]:
b

[1, 2, 3, 1, 2]

In [5]:
b.append([4,5,6])

In [6]:
b

[1, 2, 3, 1, 2, [4, 5, 6]]

In [7]:
b.extend([7,8,9])

In [8]:
b

[1, 2, 3, 1, 2, [4, 5, 6], 7, 8, 9]

In [9]:
b.remove(3)

In [10]:
b

[1, 2, 1, 2, [4, 5, 6], 7, 8, 9]

In [11]:
b[1]

2

In [13]:
b[2]

1

remove[5]

In [15]:
b.remove(9)

In [16]:
b

[1, 2, 1, 2, [4, 5, 6], 7, 8]

In [20]:
len(b)

7

In [21]:
b.remove(b[5])

In [22]:
b

[1, 2, 1, 2, [4, 5, 6], 8]

In [23]:
del b[2]

In [24]:
b

[1, 2, 2, [4, 5, 6], 8]

In [25]:
c=[[1,2,3],[4,5,6],[7,8,9]]

In [26]:
c[2]

[7, 8, 9]

In [27]:
e = {1,2}

In [28]:
type(e)

set

In [29]:
f = set()

In [30]:
type(f)

set

In [33]:
f.add("cherry")

In [34]:
f

{'cherry'}

In [35]:
f.add(2)

In [36]:
f

{2, 'cherry'}

In [37]:
f.add(2)

In [38]:
f

{2, 'cherry'}

In [39]:
list1 = [1,2,3,4,3,2,3,5,5,6,7]

In [42]:
abcd = set(list1)

In [41]:
list1

[1, 2, 3, 4, 3, 2, 3, 5, 5, 6, 7]

In [43]:
abcd

{1, 2, 3, 4, 5, 6, 7}

In [44]:
abcd.pop()

1

In [45]:
abcd

{2, 3, 4, 5, 6, 7}

In [46]:
abcd.add(1)

In [47]:
abcd

{1, 2, 3, 4, 5, 6, 7}

In [48]:
abcd.add(8)

In [49]:
abcd

{1, 2, 3, 4, 5, 6, 7, 8}

In [52]:
abcd.pop()

3

In [57]:
abcd.add(4)

In [58]:
abcd

{1, 4, 5, 6, 7, 8}

In [60]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  3: 1964
}
thisdict[3] = 2018

In [61]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 3: 2018}

In [62]:
thisdict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), (3, 2018)])

In [63]:
thisdict.keys()

dict_keys(['brand', 'model', 3])

In [64]:
thisdict.values()

dict_values(['Ford', 'Mustang', 2018])

In [65]:
items = thisdict.items()

In [66]:
items

dict_items([('brand', 'Ford'), ('model', 'Mustang'), (3, 2018)])

In [69]:
values = thisdict.values()

In [70]:
thisdict.get('brand')

'Ford'

In [78]:
for a in thisdict.values():
    print(a)

Ford
Mustang
2018

In [85]:
values

dict_values(['Ford', 'Mustang', 2018])

In [89]:
dict2 = {
    "name":"Suhas",
    "address":"Kolhapur",
    "phone_no":1234567890
}

In [90]:
list(dict2.keys())

['name', 'address', 'phone_no']

In [91]:
keys = list(dict2.keys())

In [92]:
keys

['name', 'address', 'phone_no']

In [108]:
dict3={}
newKeys= sorted(dict2)
print(newKeys)
for k in newKeys:
    dict3[k]=dict2.get(k)

['address', 'name', 'phone_no']

In [109]:
dict3

{'address': 'Kolhapur', 'name': 'Suhas', 'phone_no': 1234567890}

In [161]:
subs = {
    'id1': 
     {
         'name': ['Sara'], 
          'class': ['V'], 
          'subject_integration': ['english, math, science']
     }, 
     'id2': 
     {
         'name': ['David'], 
          'class': ['V'], 
          'subject_integration': ['english, math, science']
     },
     'id3': 
     {
         'name': ['Sara'], 
          'class': ['V'], 
          'subject_integration': ['english, math, science']
     },
    'id4': 
     {
         'name': ['Pri'], 
          'class': ['V'], 
          'subject_integration': ['english, math, science']
     },
}

In [114]:
subs

{'id1': {'name': ['Sara'],
  'class': ['V'],
  'subject_integration': ['english, math, science']},
 'id2': {'name': ['David'],
  'class': ['V'],
  'subject_integration': ['english, math, science']},
 'id3': {'name': ['Sara'],
  'class': ['V'],
  'subject_integration': ['english, math, science']},
 'id4': {'name': ['David'],
  'class': ['V'],
  'subject_integration': ['english, math, science']}}

In [115]:
keys = subs.keys()

In [116]:
keys

dict_keys(['id1', 'id2', 'id3', 'id4'])

In [156]:
thislist=[]
nameList=[]
newList={}
p=0
for m in keys:
    if len(nameList) > 0: 
        if not subs.get(m).get("name")[0] in nameList :
            nameList.insert(p,subs.get(m).get("name")[0])
            newList[m]= subs.get(m)
    else:
        nameList.insert(p,subs.get(m).get("name")[0])
        p+=1
        print(nameList)
print(newList)

['Sara']
{'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

[['Sara'], ['David'], ['Sara'], ['David']]

list

In [166]:
thislist=[]
nameList=[]
newList={}
p=0
for m in keys:
    if len(nameList) > 0: 
        if not subs.get(m).get("name")[0] in nameList :
            nameList.insert(p,subs.get(m).get("name")[0])
            newList[m]= subs.get(m)
    else:
        newList[m]= subs.get(m)
        nameList.insert(p,subs.get(m).get("name")[0])
        p+=1
print(newList)

{'id1': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id4': {'name': ['Pri'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

In [188]:
thisdict1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict2 = {
  "brand": "abc",
  "name": "def",
  "est": 1964
}


thisdict3={}
k2=thisdict2.keys()
for m in thisdict1:
    if m in k2:
        thisdict3[m]= [thisdict1[m],thisdict2[m]]
        del thisdict2[m]
    else:
        thisdict3[m]=thisdict1[m]
    

thisdict3.update(thisdict2)
        
print(thisdict3)

{'brand': ['Ford', 'abc'], 'model': 'Mustang', 'year': 1964, 'name': 'def', 'est': 1964}